.swiper {
  @apply h-[400px]
}

.swiper-button-prev {
  @apply w-[50px] h-[50px] sm:w-[60px] sm:h-[60px] rounded-full border-2 border-solid border-red
  duration-100 p-4
  lg:left-[78%] sm:left-[65%] left-[60%] top-[70%] lg:top-[78%] sm:top-[70%]
  bg-no-repeat after:content-none
  hover:bg-red hover:text-white hover:rotate-180
  content-[url('./assets/arrowRed.svg')] hover:content-[url('./assets/arrowWhite.svg')]
}
.swiper-button-next {
  @apply w-[50px] h-[50px] sm:w-[60px] sm:h-[60px] rounded-full border-2 border-solid border-red
  duration-100 p-4 bg-no-repeat after:content-none
  lg:left-[85%] sm:left-[75%] left-[80%] top-[70%] lg:top-[78%] sm:top-[70%]
  hover:bg-red hover:text-white rotate-180 hover:rotate-0
  content-[url('./assets/arrowRed.svg')] hover:content-[url('./assets/arrowWhite.svg')]
}

.swiper-pagination-bullets {
  @apply lg:top-[78%] sm:top-[70%] top-[67%] z-0 pr-[88%] whitespace-nowrap
}

.swiper-pagination-bullet {
  @apply sm:w-[15px] sm:h-[15px] duration-150
}

.swiper-pagination-bullet-active{
  @apply bg-red w-[25px] sm:w-[45px] rounded-[10px]
}